<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OpenWatch | No More Secrets</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/"><span>Open</span>Watch</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li {% if cat == "main" %} class="current_page_item" {% endif %}><a href="/">Home</a></li>
					<li {% if cat == "media" %} class="current_page_item" {% endif %}><a href="/all">Media</a></li>
					<li {% if cat == "upload" %} class="current_page_item" {% endif %}><a href="/upload">Upload</a></li>
					<li {% if cat == "apps" %} class="current_page_item" {% endif %}><a href="#">Apps</a></li>
					<li {% if cat == "about" %} class="current_page_item" {% endif %}><a href="#">About</a></li>
					<li {% if cat == "contact" %} class="current_page_item" {% endif %}><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
{% block bodyblock %}

{% endblock %}

		<div id="sidebar">
			<ul>
				<li>
					<h2>Search</h2>
					<div id="search" >
						<form method="get" action="#">
							<div>
								<input type="text" name="s" id="search-text" value="" />
								<input type="submit" id="search-submit" value="GO" />
							</div>
						</form>
					</div>
					<div style="clear: both;">&nbsp;</div>
				</li>
				<li>
					<h2>OpenWatch</h2>
					<p><b>OpenWatch</b> is a participatory citizen media project to provide documentary evidence of uses and abuses of power.</p>
				</li>
				<li>
					<h2>Featured Media</h2>
					<ul>
                        {% for post in featured %}
                        <li><a href="#">{{ post.name }}</a></li>
                        {% endfor %}
					</ul>
				</li>
				<li>
					<h2>Tags</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
				<li>
					<h2>Sponsors / Links</h2>
					<ul>
						<li><a href="#">Aliquam libero</a></li>
						<li><a href="#">Consectetuer adipiscing elit</a></li>
						<li><a href="#">Metus aliquam pellentesque</a></li>
						<li><a href="#">Suspendisse iaculis mauris</a></li>
						<li><a href="#">Urnanet non molestie semper</a></li>
						<li><a href="#">Proin gravida orci porttitor</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Creative Commons Attribution - OpenWatch.net - Design originally by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
