{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">OpenWatch Philosophy</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>OpenWatch is a participatory citizen media project aiming to provide documentary evidence of uses and abuses of power.

                    <p>The surveillance state has arrived and it is here to stay. The benefit to society in terms of security and justice is too great for
                        it to ever go away. There is a problem, however, and the problem is not the technology. The problem is the lopsided distribution of who is in control of that technology.
                        Surveillance technology is currently only in the hands of those who are already in power, which means it cannot be used to combat the
                        largest problem facing modern society: abuse of power.

                    <p>So the question remains: "Quis custodiet ipsos custodes?" - roughly, Who watches the watchers?

                    <p>This is where OpenWatch comes in. The recent ubiquity of mobile telephones with media recording capabilities and the ability to run any 
                        software the users chooses gives the public a very powerful tool. Now, we are all equipped to become opportunistic journalists. Whenever
                        any of us come in contact with power being used or abused, we can capture it and make it become part of the public record. If we seek truth and justice,
                        we will be able to appeal to documentary evidence, not just our word against theirs. Ideally, this will mean less corruption, more open government
                        and a more transparent society.

                    <p>Once upon a time, journalists were limited by the number of words they could print on a page. They would have to highlight the facts that they felt
                        were most important to a story and ignore the facts they felt were less important. This created an immediate power imbalance, as the reader had
                        no way to verify what they were being told. In this age of terabyte storage and fibre-optic broadband, there is no reason that every single story can't be accompanied with verifiable source material. 
                        OpenWatch  aims to democratize this theory of 'scientific journalism' championed by Julian Assange and apply it to citizen media.

                    <p>OpenWatch is not only intended to display abuse of power, but also to highlight appropriate use. As we are unbound by technological restrictions, we
                        can aim to record every single time power is applied so that we may analyze global trends and provide a record for future historians. 

                     <p>Police, corporate executives, judges, lawyers, private security agents, lobbyists, bankers, principals and politicians: be mindful! We are watching!
					<p>
				</div>
            </div>
            <div class="post">
				<h2 class="title"><a href="#">OpenWatch Technology</a></h2>
				<p class="meta">
				<div class="entry">
                    <p>OpenWatch consists of two parts, a mobile phone application for Android and iOS which invisibly records audio and video, and some simple server side software to collect the recordings, written in Python/Django.
                    <p>All of the technology is <b>Free and Open Source</b> software, the source code to which can be <a href="https://github.com/Miserlou/OpenWatch">found here (Android)</a> and <a href="https://github.com/chrisballinger/Cop-Recorder-iOS">here (iOS)</a>. Contributions are welcome. 
                    <p>As this intends to be a global project, not just for english speaking countries, translations of the server-side and client-side programs would also be very welcome. Contact me for more details.
					<p>The design of the website was originally by <a href="http://www.freecsstemplates.org/"> Free CSS Templates</a>. If anybody with an eye for design is interested in sprucing up the place a bit, contributions are welcome.
                    <p>All content on the site is the copyright of OpenWatch administrators and contributors and is released under the Creative-Commons Attribution 3.0 license unless explicity stated otherwise.
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
