{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Apps</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>The OpenWatch project provides two applications for recording media, OpenWatch Recorder and Cop Recorder 2. Both are capable of secretly recording media and uploading it to the OpenWatch server.</p>
                    <p>OpenWatch recorder can record audio and video and is available for Android 2.0 and above devices. It has not yet been released to the Android market, though it will be shortly.</p>
                    <p><img src="/static/owapp.jpg"></p></br>
                    <p>Cop Recorder is currently available on the Android Market for Android 1.5 and above devices. It can only record audio.</p>
                    <p><img src="/static/crapp.jpg">          <a href="http://www.appbrain.com/app/cop-recorder/org.ale.coprecord"><img style="margin: 0 0 400px 0;" src="/static/crqr.png"></a></p></br>
				</div>
            </div>
		</div>
		<!-- end #content -->
{% endblock %}
