{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Apps</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>The OpenWatch project provides <i>Android</i> and <i>iOS</i> applications for recording media, OpenWatch Recorder and Cop Recorder 2. Both are capable of <b>secretly recording</b> media and <b>uploading</b> it to the OpenWatch server.</p>
                    <p><a href="openwatch"><h2 class="title">Android</h2></a></p>
                    <p>OpenWatch recorder can secretly record audio and video, and upload it to the OpenWatch server along with geolocation data. It is available on the <a href="http://www.appbrain.com/app/openwatch-recorder/org.ale.openwatch">Android Market</a> for 2.0 and greater devices.</p>
                    <p><img src="/static/owapp.jpg">          <a href="http://www.appbrain.com/app/openwatch-recorder/org.ale.openwatch"><img style="margin: 0 0 400px 0;border: none" src="/static/owqr.png"></a></p></br>
                    <p><a name="cr"></a>Cop Recorder is currently available on the <a href="http://www.appbrain.com/app/openwatch-recorder/org.ale.coprecord">Android Market</a> for Android 1.5 and above devices. It can secretly record audio and then upload it to the OpenWatch server along with location data.</p>
                    <p><img src="/static/crapp.jpg">          <a href="http://www.appbrain.com/app/cop-recorder/org.ale.coprecord"><img style="margin: 0 0 400px 0;border: none" src="/static/crqr.png"></a></p></br>
                    <p><a name="iphone" href="#"><h2 class="title">iPhone</h2></a></p>
                    <p>Cop Recorder is currently available on the <a href="http://itunes.apple.com/us/app/cop-recorder/id433040863?mt=8">Apple App Store</a> for iOS 3.0 and above devices. It can secretly record audio and then upload it to the OpenWatch server along with location data.</p>
                    <p><img src="/static/icr.png">          <a href="http://itunes.apple.com/us/app/cop-recorder/id433040863?mt=8"><img style="margin: 0 0 400px 0;border: none" src="/static/icrqr.png"></a></p></br>
				</div>
            </div>
		</div>
		<!-- end #content -->
{% endblock %}
