{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Contact Openwatch</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>OpenWatch staff can be contacted at newfreedomapps@gmail.com
                    <p>We are also on Twitter, <a href="http://twitter.com/openwatch">@openwatch</a>!
				</div>
            </div>
		</div>
		<!-- end #content -->
{% endblock %}
