{% extends "header.html" %}
{% block title %}Contact - {% endblock %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Contact Openwatch</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>Inquries to the OpenWatch staff should be made to Lea, <b>lea@openwatch.net</b>. All questions will be answered as quickly and thorougly as possible.
                    <p>If you are a media outlet looking for a technological partnership, please use the word partnership in the title. If you are just looking for an interview, use the word interview in the headline.
                    <p>We are also on Twitter, <a href="http://twitter.com/openwatch">@openwatch</a>!
                    <p>If you are a developer, you can find us on <a href="https://github.com/Miserlou">GitHub</a>, too!
                    <p>We may also be found in the <b>#openwatch</b> channel on <i>irc.freenode.org</i> IRC server.
				</div>
            </div>
		</div>
		<!-- end #content -->
{% endblock %}
