<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OpenWatch | Demand Marvelous Secrets</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/"><img style="padding-top:7px; border-width: 0px;" src="/static/logo.png"></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li {% if cat == "main" %} class="current_page_item" {% endif %}><a href="/">Home</a></li>
					<li {% if cat == "media" %} class="current_page_item" {% endif %}><a href="/all">Media</a></li>
					<li {% if cat == "upload" %} class="current_page_item" {% endif %}><a href="/upload">Upload</a></li>
					<li {% if cat == "apps" %} class="current_page_item" {% endif %}><a href="/apps">Apps</a></li>
					<li {% if cat == "blog" %} class="current_page_item" {% endif %}><a href="/blog">Blog</a></li>
					<li {% if cat == "contact" %} class="current_page_item" {% endif %}><a href="/contact">Contact</a></li>
					<li {% if cat == "about" %} class="current_page_item" {% endif %}><a href="/about">About</a></li>
					<li {% if cat == "join" %} class="current_page_item" {% endif %}><a href="/join">Participate</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
{% block bodyblock %}

{% endblock %}

		<div id="sidebar">
			<ul>
				<li>
					<h2>OpenWatch</h2>
					<p><b>OpenWatch</b> is a participatory citizen media project to provide documentary evidence of uses and abuses of power.</p>
				</li>
				<li>
					<h2>Featured Media</h2>
					<ul>
                        {% for post in featured %}
                        <li><a href="/view/{{post.pk}}">{{ post.name }}</a></li>
                        {% endfor %}
					</ul>
				</li>
				<li>
					<h2>Tags</h2>
					<ul>
						<li>{% load tag_cloud %}
                            {% tag_cloud_for_model recordings.Recording as tags with steps=6 min_count=1 distribution=log %}
                            {% for tag in tags %}
                            <a href="/tag/{{tag.name}}">{{tag.name}}</a>
                            {% endfor %}<a href="/tags"> all</a></li>
					</ul>
				</li>
				<li>
					<h2>Links</h2>
					<ul>
						<li><a href="http://anomos.info">Anomos</a></li>
						<li><a href="http://freeculture.org">Students for Free Culture</a></li>
						<li><a href="http://eff.org">Electronic Frontier Foundation</a></li>
						<li><a href="http://cryptome.org/">Cryptome</a></li>
						<li><a href="http://wikileaks.org/">Wikileaks</a></li>
						<li><a href="http://openrightsgroup.org/">Open Rights Group UK</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">

	       <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt="Creative Commons License" style="border:none;" height="31" width="88"></a></p>
	       <p><i>Demand Marvelous Secrets!</i></p>
</div>
<!-- end #footer -->
</body>
</html>
