<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Perfect Blemish     
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20100729

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}OpenWatch | Demand Marvelous Secrets</title>
<link href="/static/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/"><img style="padding-top:7px; border-width: 0px;" src="/static/logo.png"></a></h1>
			</div>
			<div id="menu">
				<ul>
					<li {% if cat == "main" %} class="current_page_item" {% endif %}><a href="/">Home</a></li>
					<li {% if cat == "media" %} class="current_page_item" {% endif %}><a href="/all">Media</a></li>
					<li {% if cat == "upload" %} class="current_page_item" {% endif %}><a href="/upload">Upload</a></li>
					<li {% if cat == "apps" %} class="current_page_item" {% endif %}><a href="/apps">Apps</a></li>
					<li {% if cat == "blog" %} class="current_page_item" {% endif %}><a href="/blog">Blog</a></li>
					<li {% if cat == "contact" %} class="current_page_item" {% endif %}><a href="/contact">Contact</a></li>
					<li {% if cat == "about" %} class="current_page_item" {% endif %}><a href="/about">About</a></li>
					<li {% if cat == "join" %} class="current_page_item" {% endif %}><a href="/join">Participate</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
{% block bodyblock %}

{% endblock %}

		<div id="sidebar">
			<ul>
				<li>
					<h2>OpenWatch</h2>
					<p><b>OpenWatch</b> is a participatory citizen media project which uses mobile technology to enable public monitoring of authority figures.</p>
					<center><a href="https://twitter.com/openwatch" class="twitter-follow-button" data-show-count="false" data-size="large" data-lang="en">Follow @openwatch</a></center>
    				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    				<p></p>
				</li>
				<li>
					<h2>Download</h2>
					<p><a href="/apps"><div style="text-align:center;margin-top:-35px;"><img height="130px" src="/static/openwatch.qr.png"></div></a>
					<p>Scan this code to download the free app to your phone.
				</li>
				<li>
				<li>
					<h2>Voice Dropbox</h2>
					<div style="font-size:28px;padding-left: 50px;padding-bottom:15px;"><b>217-238-6300</b></div>
					<p>No smartphone? No problem. You can use the above number to make remote recordings on our system.
				</li>
				<li>
					<h2>Featured Media</h2>
					<ul>
                        {% for post in featured %}
                        <li><a href="/view/{{post.pk}}">{{ post.name }}</a></li>
                        {% endfor %}
					</ul>
				</li>
				<li>
					<h2>Tags</h2>
					<ul>
						<li>{% load tag_cloud %}
                            {% tag_cloud_for_model recordings.Recording as tags with steps=6 min_count=1 distribution=log %}
                            {% for tag in tags %}
                            <a href="/tag/{{tag.name}}">{{tag.name}}</a>
                            {% endfor %}<a href="/tags"> all</a></li>
					</ul>
				</li>
				<li>
					<h2>Links</h2>
					<ul>
						<li><a href="http://lectureleaks.com">LectureLeaks</a></li>
						<li><a href="http://gun.io">Gun.io</a></li>
						<li><a href="http://anomos.info">Anomos</a></li>
						<li><a href="http://freeculture.org">Students for Free Culture</a></li>
						<li><a href="http://eff.org">Electronic Frontier Foundation</a></li>
						<li><a href="http://cryptome.org/">Cryptome</a></li>
						<li><a href="http://wikileaks.ch/">Wikileaks</a></li>
						<li><a href="http://openrightsgroup.org/">Open Rights Group UK</a></li>
						<li><a href="http://mattmacdonald.com/">Matt MacDonald</a></li>
						<li><a href="http://muckrock.com/">MuckRock</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">

	       <p><i>Featured in:</i></p>
	       <p><a href="http://blogs.forbes.com/andygreenberg/2011/06/22/openwatch-turns-your-smartphone-into-a-reverse-surveillance-camera/"><img src="/static/forbes.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://www.theatlantic.com/technology/archive/2011/06/policing-the-police-the-smartphone-apps-that-let-you-spy-on-cops/240916/"><img src="/static/atlantic.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://techpresident.com/blog-entry/openwatch-citizen-surveillance-tool-watch-people-watching-us"><img src="/static/techpresident.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://www.wired.com/threatlevel/2011/06/lulzsec-arizona"><img src="/static/arizona.png"></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="http://www.boingboing.net/2011/06/24/copwatch-and-openwat.html"><img src="/static/boingboing.png"></a>
	       <p style="font-size:18px;text-shadow:#000 0px -1px 0px;"><a href="http://www.twitter.com/openwatch">Follow us on Twitter!</a></p>
	       <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt="Creative Commons License" style="border:none;padding-top:50px" height="31" width="88"></a></p>

</div>
<!-- end #footer -->
{% block scripts %}
{% endblock %}
</body>
</html>
