{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">welcome to openwatch!</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                <p><a href="/apps"><img style="padding-left:70px;border: none" src="/static/owapp.jpg" height="400px"><img style="padding-left:70px; border:none" src="/static/crapp.jpg" height="400px"></a> 
                <p>Welcome to OpenWatch, a project to create and store citizen-produced recordings of power use and abuse from around the world! 
                <p>OpenWatch.net is the web counterpart to the Cop Recorder and OpenWatch Recorder applications for Android. The apps are available for <a href="http://openwatch.net/apps">download here</a>.<p>To browse all of the recordings submitted by OpenWatch contributors, <a href="http://openwatch.net/all">click here to see the Media gallery</a>.<p>To read more about the OpenWatch philosophy, technology and ways you can get involved, visit the <a href="http://openwatch.net/about/">about page.</a>
					<p>
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
