{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">Join Openwatch!</a></h2>
				<p class="meta"><a href="#"><span class="date"></span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p>The OpenWatch project needs your participation! Fortunately, there are plenty of easy ways for you to help out.
                    <p>The first thing you can is to <b>tell your friends</b> about it! Make sure everybody you know has a copy of OpenWatch or Cop Recorder on their phones, so in case they ever get pulled over, interact with the police or witness corruption at their workplace, they can report it!
                    <p>If you're a <b>social person</b>, you can evangalize the project! For this project to take off, more people need to know about it. Write about it on your blog, tweet about it, and write to your local newspaper. Bring the apps to meetings of your local government and let everybody there know that they are being recorded.  
                    <p>If you're a <b>technical person</b>, you can help on the technology side by fixing any bugs in the apps or on the server, or by adding new features. We'd really love to have a way to capture streaming audio/video, additional encryption and a decentralized distribution platform. <a href="/contact">Email us if you want to get involved!</a> 
                    <p>If <b>speak a language besides English</b>, you can help by translating the application into other languages, or by listening to the non-English submissions we receive. <a href="/contact">Email us here to help!</a>
                    <p>If you are part of a <b>media organization</b> looking for a technical partner, <a href="/contact">email us here!</a> Our technology is open-source and highly flexible, and we can help you customize it for your media outlet to better equip the citizen journalists who report for you.
                    <p>The final thing you can do is simply to espouse the philosophy of <b>transparency by force</b>. Demand that your local governments release documentary evidence of their procedings, that the police are monitored internally and that the public have access to those recordings, and that local newspapers provide documentary evidence with the articles they report on.
                    <p>Thank you!</p> 
                    <p>If you are a developer, you can find us on <a href="https://github.com/Miserlou">GitHub</a>, too!
                    <p>We are also on Twitter, <a href="http://twitter.com/openwatch">@openwatch</a>!
                    <p>We may also be found in the <b>#openwatch</b> channel on <i>irc.freenode.org</i> IRC server.
				</div>
            </div>
		</div>
		<!-- end #content -->
{% endblock %}
