{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">

<div class="post">
				<h2 class="title"><a href="#">All recordings</a></h2>
				<div class="entry">
                    {% for post in list %}
                    <p><a href="/view/{{ post.pk }}">{{ post.name }}</a>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ post.public_description|truncatewords:15 }}
                    {% endfor %}
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
