{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">

<div class="post">
				<h2 class="title"><a href="#">All Blog Posts</a></h2>
			    <p>Blog posts are for information about the project, as well as investigations of trends in the data we receive, they are not about specific submissions. Please use the Media page to browse all of the recordings we host.	
				<div class="entry">
                    {% for post in list %}
                    <p><a href="/blog/{{ post.pk }}">{{ post.title}}</a>
                    {% endfor %}
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
