<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="height:100%; width:100%; margin: 0; padding: 0;">

<head>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="viewport" content="width=768px, minimum-scale=1.0, maximum-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<title>OpenWatch Recordings</title> 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/jquery.fittext.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<link href="/static/style11.css" rel="stylesheet" type="text/css" media="screen" />
<style>
td{
  padding:5px;
}

.table-heading{
  font-size:20px;
  font-weight:bold;
}
table {
  table-layout : fixed;
  text-align:center;
}
.selected{
  background-color:#F0D9BE;
}
</style>
</head>
<body style="height:100%; width:100%; margin: 0; padding: 0; overflow: hidden;">

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAp04yNttlQq-7b4aZI_jL5hQYPm-xtd00hTQOC0OXpAMO40FHAxQMnH50uBbWoKVHwgpklyirDEregg"></script>
<script type="text/javascript" src="/static/markerclusterer_packed.js"></script>

<div id="container" style="width:100%; height:100%">
  <div id="realmap" class="single_map" style="display:inline-block; width:30%; height:100%; margin: 0 auto; padding: 0;"></div>
  <div id="recording-view" style="display:inline-block; width:67%; text-align:center; margin-left:auto; margin-right:auto; padding: 10px; vertical-align:top; ">
    <h1>New Recordings</h1>
    <p><a href="/admin/recordings/recording/">Browse all recordings</a> | <a href="#" onclick="resetMap()">Reset Map</a> </p>
    <table id="recording-table" style="overflow:scroll;">
      <tr class="table-heading"><td>Title</td><td>Description</td><td>File</td><td>Location</td><td>Date</td><td></td></tr>
    </table>
  </div>
</div>
          <script>
          var csrftoken = getCookie('csrftoken');
          setupAjax();

          // Center map on marker when hovering over corresponding list row
          $('#recording-table').on('hover', '.tablerow', function(e){
            // Highlight this table row
            $('.tablerow').removeClass('selected');
            $(this).addClass('selected');

            // id is in format 'tablerow-#'
            media_id = String($(this).attr('id').split('-')[1]);
            // Center and Zoom map to corresponding marker
            centerMapWithOffset(map, markers[id_to_marker_map[media_id]]);
            map.setZoom(12);
          });

          // Activate marker click event when corresponding table row clicked
          $('#recording-table').on('click', '.tablerow', function(e){
            // id is in format 'tablerow-#'
            media_id = String($(this).attr('id').split('-')[1]);
            // Center and Zoom map to corresponding marker
            marker = markers[id_to_marker_map[media_id]];
            google.maps.event.trigger(instance=marker, eventName='click');

          });

          // Approving logic
          // set up approve click listener
          $('#recording-table').on('click', '.org-approve', function(e){
            e.preventDefault();
            // id is in format 'approve-#'
            media_id = String($(this).attr('id').split('-')[1]);
            console.log("Org-approving " + media_id);
            org_moderate(media_id, 1);
          });

          // Approving logic
          // set up approve click listener
          $('#recording-table').on('click', '.org-flag', function(e){
            e.preventDefault();
            // id is in format 'approve-#'
            media_id = String($(this).attr('id').split('-')[1]);
            console.log("Org-flagging " + media_id);
            org_moderate(media_id, -1);
          });

            function org_moderate(media_id, value){
            /*  Approves or Flags a recording

                Args
                  media_id: a Recording pk
                  value: 1=Approve, -1=Flag

            */
              $.ajax({
                  url: "/org-moderate/"+media_id,
                  data: {'value': value},
                  success: function(data){
                    //console.log(data);
                    if(data.status === 'success'){
                      // remove recording from list
                      $('#tablerow-' + media_id).slideUp('slow');

                     lat_lon = $.trim($('#locationcol-' + media_id).html());
                     lat_lon = lat_lon.split(',')
                     lat = lat_lon[0];
                     lon = lat_lon[1];
                     console.log('Remove marker:');

                      idx = id_to_marker_map[media_id]; // Find the index
                      console.log(markers[idx]);
                      markers[idx].setMap(null); // hide corresponding marker
                    }
                  },
                  type: 'POST'
              });

            }

            // set appropriate headers
            // to comply with Django
            // CSRF-Protection
            function setupAjax(){
              $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                            // Only send the token to relative URLs i.e. locally.
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
              });
            }

            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie != '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                      var cookie = jQuery.trim(cookies[i]);
                      // Does this cookie string begin with the name we want?
                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                      }
                  }
              }
              return cookieValue;
          }
          

          </script>

          <script>

          

          var map;
          var markers = [];
          var marker_ids = [];

          // Dict of recording id -> index in markers of corresponding marker
          var id_to_marker_map = {};

          // Map Center if none provided
          var default_center = new google.maps.LatLng(parseFloat(40.850891), parseFloat(-96.759121));

          var mcOptions;
          var markerCluster = new MarkerClusterer(map, markers);
          var tag = '';
          var req;
          var bounds;
          var lastZoom = 20;
          var openWindow = false;
          var first = true;

          var infowindow = new google.maps.InfoWindow({
              content: "",
              disableAutoPan: true
            });

            var freelancePinColor = "527DFF";
            var freelancePinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + freelancePinColor,
                new google.maps.Size(21, 34),
                new google.maps.Point(0,0),
                new google.maps.Point(10, 34));
            var freelancePinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
                new google.maps.Size(40, 37),
                new google.maps.Point(0, 0),
                new google.maps.Point(12, 35));
                
                
          function getBoundries(){

            var ne = bounds.getNorthEast(); // LatLng of the north-east corner
            var sw = bounds.getSouthWest(); // LatLng of the south-west corder

            return [ne.lat(), ne.lng(), sw.lat(), sw.lng()];
            
          }  

          function displayMap(latitude,longitude){
            
            var latLng = new google.maps.LatLng(latitude, longitude);
            map = new google.maps.Map(document.getElementById('realmap'), {
              zoom: 8,
              center: latLng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            google.maps.event.addListener(map, 'zoom_changed', function(){
              if(map.getBounds() != undefined){
                bounds = map.getBounds();
              }
              /* Tag search not yet implemented
              if ($.trim($('#tagSearch').val().toLowerCase()).length < 1) {
                if(map.getZoom() >= 6){
                    if(markers.length > 1300){
                      clearMap();
                    }
                    $('#showing').html("Searching..");
                    getDataPoints();
                  }
                  
              if(map.getZoom() < 6){
                    clearMap();
                    $('#showing').html("Searching..");
                    getDataPoints();
                  }
              }*/
              lastZoom = map.getZoom();
              bounds = map.getBounds(); 
            });

            google.maps.event.addListener(map, 'dragend', function(){
                bounds = map.getBounds(); 
                /* Tag search not yet implemented 
                if ($.trim($('#tagSearch').val().toLowerCase()).length < 1) {
                  //if(map.getZoom() > 7){
                      if(markers.length > 1000){
                        clearMap();
                      }
                      $('#showing').html("Searching..");
                      getDataPoints();
                  //}
                } */
            });

            google.maps.event.addListener(map, 'bounds_changed', function(){
                bounds = map.getBounds();
            });

            google.maps.event.addListener(infowindow, 'openclick', function(){
                openWindow = true;
            });

            google.maps.event.addListener(infowindow, 'closeclick', function(){
                openWindow = false;
            });

            reCluster();
          }

          function reCluster(){
           mcOptions = {gridSize: 50, maxZoom: 12};
           markerCluster = new MarkerClusterer(map, markers, mcOptions);
          }

          function clearMap(){
            markerCluster.clearMarkers();
            markers = [];
            marker_ids = [];
          }

          function listRecording(recording){
            // plotJob will take care of not listing duplicates

            console.log('listing recording!');
            // Data to populate UI with
            /*
            title = recording['title'];
            description = recording['about'];
            file = recording['rec_file'];
            id = recording['id'];
            //url = recording['url'];
            fprint = recording['fprint'];
            location = String(recording['lat'] + ', ' + String(recording['lon']));

            // Table Format:
            // Title | Desc | file | location
            */
            //$('#recording-table tr:last').after('<tr> <td>' + title + '</td> <td>' + description + ' </td></tr>');
            $('#recording-table tr:last').after('<tr class=\"tablerow\" id=\"tablerow-' + recording['id'] + '\"> <td>' + recording['title'] + '</td> <td>' + recording['about'] + ' </td> <td><a href=\"/' + recording['rec_file'] + '\">link</a></td> <td id=\"locationcol-' + recording['id'] + '\">' + recording['lat'] +', ' + recording['lon'] + ' </td><td>' + recording['date'] + ' <td><a class=\"org-approve\" id=\"approve-' + recording['id'] + '\" href=\"#\"><img src=\"{{STATIC_URL}}check_color.png\"/></a> <a class=\"org-flag\" id=\"flag-' + recording['id'] + '\" href=\"#\"><img src=\"{{STATIC_URL}}x_color.png\"/></a> </td></tr>');

            

          }

          function plotJob(job){

            if($.inArray(job['id'], marker_ids) >= 0){
              return;
            }
            else{
            }
            var latLng = new google.maps.LatLng(job['lat'], job['lon']);
            var marker = new google.maps.Marker({
              position: latLng,
              map: map,
              draggable: false
            });
            markers.push(marker);
            marker_ids.push(job['id']);
            id_to_marker_map[job['id']] = markers.indexOf(marker);

            marker.str =
              "<div class='mapInfo'><h1>" + job['title'] + "</h1><p><h2>" + job['about'] + "</h2>" + "<p><audio id='audio1' controls><source src = '/" + job['rec_file'] + "'></audio><br /><br /><p><a href='/" + job['rec_file'] + "'>Download file!</a><p><i>..or..</i><p><a href='/view/" + job['id'] +"' target='_blank'>View recording</a>.<p>Location: <i>" + job['location'] +"</i></div>";
            marker.shrt =  "<div class='mapInfo'><h1>" + job['title'] + "</h1><h2>" + job['about'] + "</h2>" +  "<br/><i><b>Click</b> on the <b>pin</b> for more information!</i><p><center><b></b></center><br /></div>";

            google.maps.event.addListener(marker, 'click', function () {
              // Highlight the corresponding table row
              $('.tablerow').removeClass('selected');
              $('#tablerow-' + job['id']).addClass('selected');

              if(map.getZoom() < 9){
                infowindow.close(map, this);
                map.setZoom(13);
                infowindow.setContent(marker.str);
                infowindow.open(marker.getMap(), this);
                openWindow = true;
                //window.open(marker.url, '_newtab' + marker.fprint);
              }
              else{
                 infowindow.close(map, this);
                 infowindow.setContent(marker.str);
                 infowindow.open(marker.getMap(), this);
                 openWindow = true;
                 //window.open(marker.url, '_newtab' + marker.fprint);
              }
              centerMapWithOffset(map, marker);
                infowindow.setContent(marker.str);
                infowindow.open(marker.getMap(), this);
              });

            google.maps.event.addListener(marker, 'mouseover', function () {
              // Highlight the corresponding table row
              $('.tablerow').removeClass('selected');
              $('#tablerow-' + job['id']).addClass('selected');

              if(!openWindow){
                  infowindow.setContent(marker.shrt);
                  infowindow.open(marker.getMap(), this);
              }
            });

            google.maps.event.addListener(marker, 'mouseout', function () {
              if(!openWindow){
                  // Remove table row highlighting on mouseout only if
                  // popup Window has been closed
                  $('.tablerow').removeClass('selected');
                  infowindow.close(marker.getMap(), this);
              }
            });

            markerCluster.addMarker(marker);

          }

          function getDataPoints(search){
            // ending 1 indicates to the api that we are moderating
            // this causes the returned data points to be filtered
            // by the user's organizational tags and the org_approved boolean
            var url = '/map/api/1';
            if (typeof search != 'undefined'){
              url = url + search + '/';
              tag = search;
            }
            else{
              tag = '';
            }
            /* Location querying not yet implemented
            {% if location %}
            if(first){
              url = url + bounds[0]+ '/' + bounds[1]+ '/' + bounds[2]+ '/' + bounds[3] + '/';
              first = false;
            }
            else{
              if(bounds != null && tag.length < 1){
                boundries = getBoundries();
                url = url + boundries[0]+ '/' + boundries[1]+ '/' + boundries[2]+ '/' + boundries[3] + '/';
              }
            }
            {% else %}
              if(bounds != null && tag.length < 1){
                boundries = getBoundries();
                url = url + boundries[0]+ '/' + boundries[1]+ '/' + boundries[2]+ '/' + boundries[3] + '/';
              }
            {% endif %}
            */
            if(req != undefined){
              req.abort();
            }

            req = $.getJSON(url,function(json){
                p = json['objects'];
                var job;
                for(var i=0; i<p.length; i++){
                  job = p[i];
                  plotJob(job);
                  listRecording(job);
                }

                if(tag == ''){
                  $('#showing').html("Showing " + markers.length + " recordings.");
                }
                else{
                  var sm = '';
                  if(markers.length < 1 ){
                    sm = " :(";
                  }
                  $('#showing').html("Showing " + markers.length + " " + tag + " recordings." + sm);
                }

                $('#loading').hide();
            });
          }
      </script>
      <script>
        //onload
        jQuery(function($){

          {% if location %}
              var visitorLocation = new google.maps.LatLng(parseFloat({{location.lat}}), parseFloat({{location.lon}}));
              bounds = [{{location.lat|add:1}}, {{location.lon|add:1}}, {{location.lat|add:-1}}, {{location.lon|add:-1}}];
              displayMap({{location.lat}},{{location.lon}});
              map.setCenter(visitorLocation);
              map.setZoom(9);
              getDataPoints();
          {% else %}
                displayMap(default_center.lat(),default_center.lng());
                getDataPoints();
                map.setZoom(5);
          {% endif %}

          /*



          This is too hard to keep a consistent experience. TODO.

          if(google.loader.ClientLocation)
          {
            if(google.loader.ClientLocation.address.country_code == 'US'){
              visitor_lat = google.loader.ClientLocation.latitude;
              visitor_lon = google.loader.ClientLocation.longitude;
              var visitorLocation = new google.maps.LatLng(parseFloat(visitor_lat), parseFloat(visitor_lon));
              map.setCenter(visitorLocation);

            }
          }
          else{
            map.setZoom(5);
          }
          */

        });


        // Restores map to original centering and zoom level
        function resetMap(){
          {% if location %}
          var visitorLocation = new google.maps.LatLng(parseFloat({{location.lat}}), parseFloat({{location.lon}}));
              bounds = [{{location.lat|add:1}}, {{location.lon|add:1}}, {{location.lat|add:-1}}, {{location.lon|add:-1}}];
              displayMap({{location.lat}},{{location.lon}});
              map.setCenter(visitorLocation);
          {% else %}
              map.setCenter(default_center);
          {% endif %}
              map.setZoom(9);

        }

        // Centers map on marker, adding a 
        // latitude offset to ensure popup window isn't obscured
        function centerMapWithOffset(map, marker){
          // let's set the position a fixed distance above
          // that marker so the popup window isn't obscured
          lat_offset = .015;
          centerLatLng = new google.maps.LatLng(lat=marker.getPosition().lat() + lat_offset,lng=marker.getPosition().lng());

          map.setCenter(centerLatLng);
        }

      </script>
<!--
    <div class="mapAbout">
      <p><h1 class="mapAbout" id="ma1">Police Encounters</h1></p>
      <p><h2 class="mapAbout" id="ma2">by OpenWatch.net</h2></p>
    </div>
-->
    <script>

      function keyDown(myfield, e){

        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        if (keycode == 13)
         {
         return false;
        }
      }

      function submitter(myfield,e){

        var keycode;
        if (window.event) keycode = window.event.keyCode;
        else if (e) keycode = e.which;
        else return true;

        $('#showing').html("Searching..");
        var i = $.trim($('#tagSearch').val().toLowerCase());
        clearMap();
        if (i.length > 0){
          getDataPoints(i);
        }else{
          getDataPoints();    
        }

        return true;
    }
    </script>

  <div class="mapHolder">

<!-- TODO: Tag search API endpoint
    <div class="mapSearch" >
          <p><form method="GET" autocomplete="off"><input id="tagSearch" class="mapAbout" type="text" name="" placeholder="Search tags!" onKeyUp="return submitter(this,event)" onKeyDown="return keyDown(this,event)" /></form></p>

          <p><span id="showing">Loading recordings.. </span> ({{total}} total.)

          {% if tag %}
            <script>
              jQuery(function($){
                  $('#tagSearch').val('{{tag}}');
                });
            </script>
          {% endif %}
    </div>

    <div class="mapSearch" id="loading" style="top: 50%; font-size: 3em;">
          <center><b>Loading recordings..</b></center>
    </div>
-->

    <script>
      $("#ma1").fitText();
      $("#ma2").fitText();
    </script>

    <script>
      $("#hi1").fitText();
      $("#hi2").fitText();
    </script>

    <!-- <div class="mapHiring">
      <p id="hi1">
      <p id="hi2"><a class="mapHiring" href="/careers/new/"><br />Post a job!</a></p>
    </div> -->

    <script>
      $("#hi1").fitText();
      $("#hi2").fitText();
    </script>

<!--
    <div class="mapSignup">
      <p id="si1">Zoom and search<br/>
      to see more recordings!<br />
    </div>
-->
    <script>
      $("#si1").fitText();
    </script>

    <div class="mapShare">
                      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a style="padding-bottom: 4px;" class="addthis_button_tweet" tw:via="Police Encounters" tw:text="Awesome! Police encounters live: "></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#async=1"></script>
      <script type="text/javascript"> 
        //disable clicktracking? note: if true, remove url from twtext
        var addthis_config = {
             data_track_clickback: true 
        } 
        </script> 
      <!-- AddThis Button END -->
    </div>
    <script>
      jQuery(function($){
          addthis.init();
        });
    </script>



</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24979378-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>