{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">

<div class="post">
				<h2 class="title"><a href="#">Upload Media</a></h2>
				<p class="meta"><a href="#"><span class="date">...</span></a>&nbsp;<span class="links">
				<div class="entry">
                    <p><form enctype="multipart/form-data" action="/openwatch/uploadnocaptcha" method="post">
    {% csrf_token %}

		<div class="fieldWrapper">
		  <label for="rec_file">Recording file:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.rec_file}}
		  {{ form.rec_file.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="name">Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.name}}
		  {{ form.name.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="public_description">Public description: </label>
		  {{ form.public_description}}
		  {{ form.public_description.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="private_description">Private description: </label>
		  {{ form.private_description}}
		  {{ form.private_description.errors }}
	  </div><br>
    
		<div class="fieldWrapper">
		  <label for="location">Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.location}}
		  {{ form.location.errors }}
	  </div><br>

<p><input type="submit" value="Upload!" /></p>
</form>
					<p>
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
