{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">

<div class="post">
				<h2 class="title"><a href="#">Upload Media</a></h2>
				<div class="entry">
                <p>No records are kept of IP addresses used for uploading or browsing this website. All uploads must be original and by uploading, you agree to release the work under a Creative-Commons-Attribution license so that it may be widely and freely distrubuted by anybody. <br /><br /> Thank you for your submissions.</p>
                    <p><form enctype="multipart/form-data" action="/upload/" method="post">
            {% csrf_token %}

		<div class="fieldWrapper">
		  <label for="rec_file">Recording file:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.rec_file}}
		  {{ form.rec_file.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="name">Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.name}}
		  {{ form.name.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="public_description">Public description: </label>
		  {{ form.public_description}}
		  {{ form.public_description.errors }}
	  </div><br>

		<div class="fieldWrapper">
		  <label for="private_description">Private description: </label>
		  {{ form.private_description}}
		  {{ form.private_description.errors }}
	  </div><br>
    
		<div class="fieldWrapper">
		  <label for="location">Location:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.location}}
		  {{ form.location.errors }}
	  </div><br>

        {% if form.captcha %}
		<div class="fieldWrapper">
		  <label for="location">Verification:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		  {{ form.captcha}}
		  {{ form.captcha.errors }}
	  </div><br>
        {%endif%}

<p><input type="submit" value="Upload!" /></p>
</form>
					<p>
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
