{% extends "header.html" %}
{% block bodyblock %}
	<div id="page">
		<div id="content">

<div class="post">
				<h2 class="title"><a href="#">{{recording.name}}</a></h2>
                <p class="meta"><a href="#"><span class="date">{{recording.date}}</span></a>&nbsp;<span class="links">
				<div class="entry">
                    {% if recording.vimeo %}
                    <p><iframe src="http://player.vimeo.com/video/{{ recording.vimeo }}?color=ff000d" width="601" height="338" frameborder="0"></iframe></p>
                    {% endif %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ recording.public_description }}
				</div>
			</div>
		</div>
		<!-- end #content -->
{% endblock %}
